.element__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  width: calc(100% - 42px);
  min-width: 100%;
}

@media all and (max-width:920px) {

  .element__title-container {
    width: calc((100vw - 34px - 34px)/3);
  }
}

@media all and (max-width:683px) {

  .element__title-container {
    width: calc((100vw - 34px - 17px)/2);
    max-width: 332px;
  }
}

@media all and (max-width:500px) {

  .element__title-container {
    width: calc(100vw - 34px);
    max-width: 466px;
  }
}