.elements {
  max-width: 880px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 17px;
  padding-top: 50px;
}

@media all and (max-width:920px) {

  .elements {
      padding-left: 17px;
      padding-right: 17px;
  }
}

@media all and (max-width:683px) {

  .elements {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width:683px) {

  .elements {
      padding-left: 19px;
      padding-right: 19px;
  }
}

@media all and (max-width:500px) {

.elements {
  grid-template-columns: repeat(1, 1fr);
}
}