.profile__edit-button {
  border: solid 1px white;
  width: 24px;
  height: 24px;
  align-self: end;
  margin-bottom: 8px;
  background: url(../../../images/pencil.svg) center no-repeat;
  background-size: 10px;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media all and (max-width:683px) {

  .profile__edit-button {
    grid-area: edit;
    width: 18px;
    height: 18px;
    background-size: 7.5px;
    margin-bottom: 6px;
  }
}