.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  padding-right: 18px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
}

@media all and (max-width:895px) {

  .profile__title {
    max-width: calc(100vw - 405px);
  }
}

@media all and (max-width:683px) {
  .profile__title {
    grid-area: name;
    font-size: 26px;
    line-height: 32px;
    max-width: calc(100vw - 100px);
  }
}
