.profile__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 21,78px;
  padding-top: 16px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
}

@media all and (max-width:890px) {

  .profile__subtitle {
    max-width: calc(100vw - 405px);
  }
}

@media all and (max-width:683px) {

  .profile__subtitle {
    grid-area: job;
    text-align: center;
    padding-top: 14px;
    font-size: 14px;
    line-height: 17px;
    max-width: calc(100vw - 100px);
  }
}