.popup__input {
    border: none;
    border-bottom: 1px solid #00000046;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 13px;
    padding-top: 13px;
    margin-bottom: 36px;
}